/*Temporary Style, remove as needed*/
body, html {
	margin: 0;
	padding: 0;
}

.row {
	margin: 12px;
}

ul.menu {
	padding: 0;
	margin: 0;
}

ul.menu li{
	float: left;
	list-style: none;
	margin-right: 12px;
}

.main-body {
	clear: both;
	padding-top: 14px;
}
footer {
	padding-top: 14px;
}