{% extends 'templates/main.html' %}

{% block title %}Home{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<h3>Oils JS by <a href="http://www.mvergel.com/about">Manny Vergel</a></h3>
<p>
  It Works! You can start modifying or removing unecessary files.
</p>

{%marked%}

### Markdown Test

This is a markdown paragraph. This text is ***really important***.

### Block quote test

> #### The quarterly results look great!
>
> - Revenue was off the chart.
> - Profits were higher than ever.
>
>  *Everything* is going according to **plan**.

{%endmarked%}

<form method="POST">
  <input type="hidden" name="_csrf" value="{{_csrf}}" />
  <button type="SUBMIT">Example Form Submission</button>
</form>

<p>For more information, visit <a href="http://mannyvergel.github.io/oils-js/">Oils JS website.</a></p>


{% endblock %}